parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkUninitializedProperties: false
    tmpDir: tests
    paths:
        - max-marine-edit-product-shared-state.php
        - includes
        - admin
    scanFiles:
        - includes/max-marine-edit-product-shared-state-constants.php
    scanDirectories:
        - includes
    excludePaths:
        - node_modules/*
    bootstrapFiles:
        - includes/max-marine-edit-product-shared-state-constants.php
        - %rootDir%/../../php-stubs/wordpress-stubs/wordpress-stubs.php
        - %rootDir%/../../php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - %rootDir%/../../php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php