.mmepss-edit-product-error-modal {
	width: 600px;

	.content {
		ul {
			padding-left: 30px;

			li {
				list-style-type: disc !important;
			}
		}
	}

	.buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		margin-top: 1.75rem;
		gap: 1.0rem;

		.components-button {
			padding: 0.5rem 1.5rem;
		}
	}
}